@model string[]

<h3>Update @Model[0] : </h3>
<div class="text-right">@Html.ActionLink("Back", "LoadObjects", "MainPage", new { area = "" }, new { @class = "btn btn-lg btn-default text-center" })</div>
<br />

@using (Html.BeginForm("PostNews", "AddNews", FormMethod.Post))
{
    <div>
        <table>
            <tr>
                <td class="lead">Title</td>
                <td>
                    <input id="title" name="Title" type="text" value="@Model[0]" required />
                </td>
            </tr>

            <tr>
                <td class="lead">Description</td>
                <td>
                    <input id="description" name="Description" type="text" value="@Model[1]" required />
                </td>
            </tr>
            <tr>
                <td class="lead">Category</td>
                <td>
                    <select id="category" name="Category"  required>
                        <option value="General" id="General">General</option>
                        <option value="Sports" id="Sports">Sports</option>
                        <option value="Health" id="Health">Health</option>
                        <option value="Politics" id="Politics">Politics</option>
                    </select>
                    
                </td>
            </tr>
            <tr>
                <td class="lead">Body</td>
                <td>
                    <textarea cols="40" rows="8" name="Body" required>@Model[3]</textarea>
                </td>
            </tr>


        </table>
        <div id="HiddenInputs">
            <input type="hidden" value="@Model[4]" name="FileDirectory" />
            <input type="hidden" value="@Model[5]" name="LastModifierFileName" />
            <input type="hidden" value="@Model[6]" name="NewsFlag" />
            <input type="hidden" value="@Model[2]" id="categoryValue" />
        </div>
    </div>
    <br />
    <div class="text-center">
        <input type="submit" value="Submit" class="btn btn-lg btn-default text-center" />
    </div>
}

<script>
    let category = document.getElementById("categoryValue")
    document.getElementById(category.value).setAttribute("selected","selected") 
</script>

